@CHARSET "UTF-8";

.invisible{
	display: none;
}

#div-footer{
	padding: 10px;
	background-color: #101010;
	border-radius: 4px;
	color: gray;
	text-align: center;
}


#row_nothing_found{
	text-align: right;
}




.modal-header{
	background-color: #f8f8f8;
	border-color:#e7e7e7;
	font-size: 1.8em;
	color: #777;
}

.panel-heading{ font-size: 1.4em !important; }

.panel-footer{ text-align: right; }