@CHARSET "UTF-8";

a {
	color: rgb(60, 60, 60);
}

a:HOVER{
	color: rgb(131, 131, 131);
}

#main-header{
	width: 100%;
	float: left;
}

.navbar{ margin-bottom: 5px; }

#main-principal{
	width: 100%;
	float: left;
}

#main-menu {
	background-color: #f9f9f9;
	min-width: 100%;
	float: left;
	border: #ddd solid 1px;
	border-radius: 5px;
	text-align: center;
}

#main-content{
	width: 100%;
	min-width: 400px;
	float: right;
}

#main-footer{
	width: 100%;
	float: left;
}