<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE tiles-definitions PUBLIC "-//Apache Software Foundation//DTD Tiles Configuration 3.0//EN" "http://tiles.apache.org/dtds/tiles-config_3_0.dtd">
<tiles-definitions>
	
	<!-- Offline views -->
	<definition name="offlineTemplate" template="/WEB-INF/views/template/offline/main.jsp">
		<put-attribute name="header" value="/WEB-INF/views/template/offline/header.jsp" />
		<put-attribute name="footer" value="/WEB-INF/views/template/offline/footer.jsp" />
	</definition>
	<!-- Offline views -->
	
	
	
	<!-- Online views -->
	<definition name="online-template" template="/WEB-INF/views/template/online/main.jsp">
		<put-attribute name="header" value="/WEB-INF/views/template/online/header.jsp" />
		<put-attribute name="menu" value="/WEB-INF/views/template/online/menu.jsp" />
		<put-attribute name="footer" value="/WEB-INF/views/template/online/footer.jsp" />
	</definition>
	
	<definition name="tasks-list" extends="online-template">
		<put-attribute name="content" value="/WEB-INF/views/task/list.jsp" />
	</definition>
	
	<definition name="tasks-table-list" template="/WEB-INF/views/task/table-list.jsp"/>
	
	<definition name="users-list" extends="online-template">
		<put-attribute name="content" value="/WEB-INF/views/user/list.jsp" />
	</definition>
	<!-- Online views -->
	
</tiles-definitions>